<div id="submitTSLegend">
    <div  class="clock-icon">
        <i class="fa fa-clock-o"></i>
    </div>
    <div>
        Standard Hours Per Day - <b>08</b><br/>
        Standard Hours Per Week - <b>40</b>
    </div>
    <div> 
        <span class="square-icon week-off-icon"></span>
        Weekly-Off 
    </div>
    <div>
        <span class="square-icon holiday-icon"></span>
        Public Holiday
    </div>
    <div>
        <span><i class="fa fa-comment legend-icons comment-icon"></i></span>
        Additional Comment
    </div>
    <div>
        <span id="triangle-topright"></span>
        Client's Timesheet Available
    </div>
</div>