<mat-card class='main-container'>
	<jhi-submit-timesheet-legend></jhi-submit-timesheet-legend>
</mat-card>
<mat-card class='main-container'>
		<div id='status'>
			<h6>
				<span>STATUS:</span>
				<span class="submit-status">{{weekObj.status}} </span>
			</h6>
		</div>
		<div>
			<i class="fa fa-angle-left fat-arrow" (click)="weekObj.previousWeekEnabled && getTimeSheetData(this.weekObj.previousWeekStartDate)" [style.color]="weekObj.previousWeekEnabled ? '#0EB3F7' : 'lightgray'" [style.cursor]="weekObj.previousWeekEnabled ? 'pointer' : 'not-allowed'"></i>
			<span class="week-date">{{weekObj.weekName}}</span>
			<i class="fa fa-angle-right fat-arrow" disabed (click)="weekObj.nextWeekEnabled && getTimeSheetData(this.weekObj.nextWeekStartDate)" [style.color]="weekObj.nextWeekEnabled ? '#0EB3F7' : 'lightgray'" [style.cursor]="weekObj.nextWeekEnabled ? 'pointer' : 'not-allowed'" ></i>
		</div>
		<table id='weeklyTSRow'>
			<tr class="weekdays">
				<td class="first-child">Projects</td>
				<td *ngFor="let day of weekObj.daysData; let i = index" [ngClass]="[day.code === 'HD' ? 'holiday' : '']">{{day.day}}
					<br>{{day.month+ ' '+ day.date}}</td>
				<td>Total Hours</td>
				<td>Attach File*</td>
			</tr>
			<tr *ngFor="let project of weekObj.projects" class='project-row' [hidden]="project.type === 'PDL' || project.type === 'UPL'">
				<td class="first-child">{{project.name}}</td>
				<td *ngFor="let dayHour of project.hours; let k = index;" [ngClass]="[weekObj.daysData[k].code === 'HD' ? 'holiday' : '']">
						<input matInput class='hours-input' maxlength="2" type="text" [(ngModel)]="dayHour.hour" [ngModelOptions]="{updateOn: 'blur'}"
						 [ngbPopover]="popContent" placement="top" #p="ngbPopover" (click)="popupTrigger()"  (document:click)="p.close()" (click)="$event.stopPropagation()" 
						 *ngIf="weekObj.status === 'NOT SUBMITTED' || weekObj.status === 'SAVED'" />
						<span *ngIf="weekObj.status === 'SUBMITTED'">{{dayHour.hour}}</span>
						<span *ngIf="dayHour.comments != null && dayHour.comments.length>0">
							<i class="fa fa-comment" aria-hidden="true" placement="top" [ngbPopover]="popContentComment" 
							tabindex="0" triggers="mouseenter:mouseleave"></i>
						</span>
						<ng-template #popContent>
							<div><input matInput class='comments-input' maxlength="15" type="text" [(ngModel)]="dayHour.comments" (click)="$event.stopPropagation()"></div>
						</ng-template>
						<ng-template #popContentComment>
								{{dayHour.comments}}
						</ng-template>
					</td>
				<td>
					<span *ngIf='weekObj.status === "NOT SUBMITTED" || weekObj.status === "SAVED"'><input class='hours-input' maxlength="2" value="{{calculateProjectHours(project.hours)}}" disabled="true"></span>
					<span *ngIf='weekObj.status === "SUBMITTED"'>{{project.totalHours | formatDate}}</span>
				</td>
				<td>
					<i class="material-icons" [hidden]="!project.attachment">attach_file</i>
				</td>
			</tr>	
			<tr *ngFor="let project of weekObj.projects" class='leave-row' [hidden]="project.type != 'PDL' && project.type != 'UPL'">
				<td class="first-child">
					<span>{{project.name}}</span>
					<i *ngIf="weekObj.status === 'NOT SUBMITTED' || weekObj.status === 'SAVED'" class="fa fa-times" aria-hidden="true" (click)="clearLeave(project)"></i>
				</td>
				<td *ngFor="let dayHour of project.hours; let j = index; trackBy:trackByIndex;" [ngClass]="[weekObj.daysData[j].code === 'HD' ? 'holiday' : '']">
					<input matInput class='hours-input' maxlength="2" [(ngModel)]="dayHour.hour" [ngModelOptions]="{updateOn: 'blur'}" (focusout)="(dayHour.comments != null && dayHour.comments.length>0)"  placement="top"
					 [ngbPopover]="popContent" #p="ngbPopover"  (document:click)="p.close()" (click)="popupTrigger()" (click)="$event.stopPropagation()" *ngIf="weekObj.status === 'NOT SUBMITTED' || weekObj.status === 'SAVED'">
					<span *ngIf="weekObj.status === 'SUBMITTED'">{{dayHour.hour}}</span>
					<span *ngIf="dayHour.comments != null && dayHour.comments.length>0">
						<i class="fa fa-comment" aria-hidden="true" placement="top" [ngbPopover]="popContentComment"
						tabindex="0" triggers="mouseenter:mouseleave"></i>
					</span>
					<ng-template #popContent>
						<div><input matInput class='comments-input' maxlength="15" type="text" [(ngModel)]="dayHour.comments" [ngModelOptions]="{updateOn: 'blur'}"   (click)="$event.stopPropagation()"></div>
					</ng-template>
					<ng-template #popContentComment>
						{{dayHour.comments}}
					</ng-template>
				</td>
				<td>
					<span *ngIf='weekObj.status==="NOT SUBMITTED" || weekObj.status==="SAVED"'><input class='hours-input' maxlength="2" value="{{calculateProjectHours(project.hours)}}" disabled="true"></span>
					<span *ngIf='weekObj.status==="SUBMITTED"'>{{project.totalHours | formatDate}}</span>
				</td>
				<td>
					<i class="material-icons" [hidden]="!project.attachment">attach_file</i>
				</td>
			</tr>
			<tr class='total-row'>
				<td class="first-child">Total Hours Per Day</td>
				<td *ngFor="let day of weekObj.daysData; let k = index; trackBy:trackByIndex;">
					<div *ngIf="weekObj.status === 'NOT SUBMITTED' || weekObj.status === 'SAVED'" placement="top" [ngbPopover]="commentNeeded" #p="ngbPopover"  (click)="popupTrigger()" (document:click)="p.close()" (click)="$event.stopPropagation()">
						<input class='hours-input' maxlength="2" value="{{calculateDayHours(weekObj.projects,k)}}" disabled="true">
					</div>
					<span *ngIf="weekObj.status === 'SUBMITTED'">{{calculateDayHours(weekObj.projects,k)}}</span>
					<ng-template #commentNeeded>
						<div><input matInput class='' maxlength="15" type="text" [(ngModel)]="day.comment" (click)="$event.stopPropagation()"></div>
					</ng-template>
					<span  *ngIf="day.comment != null && day.comment.length>0">
						<i class="fa fa-comment" aria-hidden="true" placement="top" [ngbPopover]="totalHoursComment" triggers="mouseenter:mouseleave"></i>
						<ng-template #totalHoursComment>
							<input matInput class='thours-comments' maxlength="15" type="text" value="{{day.comment}}" required></div>
						</ng-template>
					</span>
				</td>
				<td>
					<!-- <input class='hours-input' *ngIf="weekObj.status==="NOT SUBMITTED"" maxlength="2" value="{{calculateTotalHours(weekObj.projects)}}" disabled="true"> -->
					<span class='hours-input'>{{calculateTotalHours(weekObj.projects)}}</span>
				</td>
				<td></td>
			</tr>
		</table>
	
		<div class="leave-section" *ngIf='weekObj.status === "NOT SUBMITTED" || weekObj.status === "SAVED"'>
			<mat-select placeholder="Add Leaves" [(value)]="selectedLeave" (selectionChange)="selectLeave($event)" class="pending-entries">
				<mat-option *ngFor="let leave of leaveTypes;" [value]="leave.name">{{leave.name}}</mat-option>
			</mat-select>
		</div>
		<mat-divider></mat-divider>

		<div id='button-container'>
			<button mat-raised-button id='save-button' (click)="saveOrSubmit('SAVE')" *ngIf='weekObj.status === "NOT SUBMITTED" || weekObj.status === "SAVED"'>Save</button>
			<button mat-raised-button id='submit-button' (click)="saveOrSubmit('SUBMIT')" *ngIf='weekObj.status === "NOT SUBMITTED" || weekObj.status === "SAVED"'>Submit</button>
		</div>
	
	</mat-card>