/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    height: 100%;
    background: #F4F6F9;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.list-account, .add-account{
    width: 90vw;
    margin: 0 auto;
}