<mat-card id='main-container'>
    <div id='status'>STATUS:{{weekObj.status}} </div>
	<!--  <h3>Week:{{weekObj.weekNo}}</h3>
	<h6>{{currentDate}}</h6>-->
	<table>
	  <tr class="weekdays">
		  <td class="first-child">Projects</td>
		  <td *ngFor="let day of weekObj.daysData; let i = index" [ngClass]="[day.code === 'HD' ? 'holiday' : '']">{{day.day}} <br>{{day.month+ ' '+ day.date}}</td>
		  <td >Total Hours</td>
		  <td >Attach File*</td>
	  </tr>
	  <tr *ngFor="let project of weekObj.projects" class= 'project-row'>
	    <td class="first-child">{{project.name}}</td>
	    <td *ngFor="let dayHour of project.hours; let j = index; trackBy:trackByIndex;" [ngClass]="[weekObj.daysData[j].code === 'HD' ? 'holiday' : '']">
	       <input matInput class='hours-input' maxlength="2" [(ngModel)]="project.hours[j]" [ngModelOptions]="{updateOn: 'blur'}" >
	    </td>
	    <td><input class='hours-input' maxlength="2"  value="{{calculateProjectHours(project.hours)}}" disabled="true"></td>
	    <td><i class="material-icons" [hidden]="!project.attachment">attach_file</i></td>
	  </tr>
	  <tr class= 'total-row'>
	    <td class="first-child">Total Hours Per Day</td>
	    <td *ngFor="let day of weekObj.daysData; let k = index; trackBy:trackByIndex;">
	       <input class='hours-input' maxlength="2"  value="{{calculateDayHours(weekObj.projects,k)}}" disabled="true" >
	    </td>
	    <td><input class='hours-input' maxlength="2"  value="{{calculateTotalHours(weekObj.projects)}}" disabled="true"></td>
	    <td></td>
	  </tr>
   </table>
	<div id='button-container'>
	    <button mat-raised-button id='save-button' (click)="saveOrSubmit('SAVE')">Save</button>
	    <button mat-raised-button id='submit-button' (click)="saveOrSubmit('SUBMIT')">Submit</button>
	</div>
	
</mat-card>
