<table id='detailedRow'>
    <thead>
        <tr class='text-center'>
            <th class='timesheet-cell project-cell text-left'>
                Projects
            </th>
            <th class='timesheet-cell' 
                *ngFor="let day of data.timesheet.projectTimeSheets[0].dailyEntries" 
                [ngClass]="{
                    'weekend-day':day.type.code === 'WE',
                    'holiday':day.type.code === 'HD'
                }">
                {{day.date | date: 'EEE'}} <br/> {{day.date | date: 'MMM'}} {{day.date | date: 'dd'}}
            </th>
            <th class='timesheet-cell resource-total-hrs'>
                Total Hours
            </th>
            <th class='timesheet-cell'>
                Approver's Status
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let timesheet of data.timesheet.projectTimeSheets" class='text-center'>
            <td class='timesheet-cell project-cell text-left'>
                {{timesheet.projectDetails.project.key}} - {{timesheet.projectDetails.project.value}}
            </td>
            <td *ngFor="let day of timesheet.dailyEntries" class='timesheet-cell' 
            [ngClass]="{
                'weekend-day':day.type.code === 'WE',
                'holiday':day.type.code === 'HD'
            }">
                {{formatHours(day.hours)}}
            </td>
            <td class='timesheet-cell resource-total-hrs'>
                {{formatHours(timesheet.projectTotalHours)}}
            </td>
            <td class='timesheet-cell'>
                {{timesheet.projectTimesheetStatus.code}}
            </td>
        </tr>
        <!-- <tr class='text-center'>
            <td class='timesheet-cell project-cell text-left'>Total Hours Per Day	</td>
            <td *ngFor='let day of data.timesheet.totalEntries' class='timesheet-cell'>
                {{formatHours(day.totalHours)}}
            </td>
            <td class='timesheet-cell'>{{formatHours(data.timesheet.grandTotal)}}</td>
            <td class='timesheet-cell'>{{data.timesheetStatus.code}}</td>
            timesheet.timesheet.projectTimeSheets[2].projectDetails.projectType.key==="UPL"
        </tr> -->
    </tbody>
</table>