.view-resource .mat-form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.view-resource .time-tracking-label{
    display: block;
    margin-bottom: 10px;
}
.view-resource mat-radio-button:not(:first-child){
    margin-left: 20px;
}
.container{
    width: 100%;
    margin: 0;
}
.mat-chip{
    margin: 4px !important;
}
.float-label-color{
    color: #0EB3F7;
}
.mat-form-field-disabled .mat-chip-remove{
    visibility: hidden
}