<mat-toolbar class="header-nav">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <a routerLink="/listaccounts" routerLinkActive="active" mat-button>Accunts</a>
    <a mat-button routerLink="/listprojects">Projects</a>
    <a mat-button>Resources</a>
    <a mat-button>Order to Cash</a>
    <a mat-button routerLink="/timesheet" routerLinkActive="active">TimeSheets</a>
    <a mat-button>Reports</a>
    <a mat-button>Settings</a>
  </mat-toolbar-row>
</mat-toolbar>
 <router-outlet></router-outlet>
