

<div class="list-account">
  <div class="row"
  >
<div class="col-sm-5">
      <h4>Accounts</h4>
      <mat-form-field style="width:65%;">
        <input (keyup)="search($event.target.value)" matInput placeholder="Search account (type customer name, account code)">
      </mat-form-field>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-3" style="padding-top: 15px;">
  
  <button class="add-acount-button" mat-raised-button routerLink="/addaccount" color="primary"><mat-icon>add</mat-icon>Add Account</button>
</div>
</div>

</div>

<mat-table  [dataSource]="dataSource" matSort  class="mat-elevation-z8">

  
  <ng-container matColumnDef="accountCode">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Account Code</mat-header-cell>
    <mat-cell *matCellDef="let element"><a routerLink="/view-account/{{element.accountCode}}"> {{element.accountCode}} </a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customerReportingManager">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Customer Reporting Manager </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customerReportingManager}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accountManagerName">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Account Manager Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.accountManagerName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customerTimeTracking">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Customer Time Tracking </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customerTimeTracking === false ? 'No' : 'Yes'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

