<div class="list-project">
  <div class="row"
  >
<div class="col-sm-5">
      <h4>Projects</h4>
      <mat-form-field style="width:65%;">
        <input (keyup)="search($event.target.value)" matInput placeholder="Search project (type project name, project id, account name)">
      </mat-form-field>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-3" style="padding-top: 15px;">
  <button class="add-project-button" mat-raised-button routerLink="/projects/add-project" color="primary"><mat-icon>add</mat-icon>Add Project</button>
</div>
</div>
<mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="projectCode">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Project ID</mat-header-cell>
    <mat-cell *matCellDef="let element"><a routerLink="/projects/view-project/{{element.projectCode}}"> {{element.projectCode}} </a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="projectName">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.projectName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="projectTypeDescription">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.projectTypeDescription}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accountName">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Account Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.accountName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="location">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <mat-header-cell mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.projectStatusDescription}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

