<mat-card id='main-container'>
    <span id='status'>STATUS:{{weekObj.status}} </span>
	<h3>Week:{{weekObj.weekNo}}</h3>
	<h6>{{currentDate}}</h6>
	<table>
	  <tr class="weekdays">
		  <td class="first-child">Projects</td>
		  <td *ngFor="let day of daysOfWeek; let i = index">{{day}} <br>{{months[getChangedMonth(weekObj.startDate, getChangedMonthDate(weekObj.startDate+i, weekObj.startMonth), weekObj.startMonth)]+ ' '+ getChangedMonthDate(weekObj.startDate+i,weekObj.startMonth)}}</td>
		  <td >Total Hours</td>
		  <td >Attach File*</td>
	  </tr>
	  <tr *ngFor="let project of weekObj.projects" class= 'project-row'>
	    <td class="first-child">{{project.name}}</td>
	    <td *ngFor="let dayHour of project.hours; let j = index; trackBy:trackByIndex;">
	       <input matInput class='hours-input' maxlength="2" [(ngModel)]="project.hours[j]" [ngModelOptions]="{updateOn: 'blur'}" >
	    </td>
	    <td><input class='hours-input' maxlength="2"  value="{{calculateProjectHours(project.hours)}}" disabled="true"></td>
	    <td><i class="material-icons">attach_file</i></td>
	  </tr>
	  <tr class= 'total-row'>
	    <td class="first-child">Total Hours Per Day</td>
	    <td *ngFor="let day of daysOfWeek; let k = index; trackBy:trackByIndex;">
	       <input class='hours-input' maxlength="2"  value="{{calculateDayHours(weekObj.projects,k)}}" disabled="true" >
	    </td>
	    <td><input class='hours-input' maxlength="2"  value="{{calculateTotalHours(weekObj.projects)}}" disabled="true"></td>
	    <td></td>
	  </tr>
   </table>
	<div id='button-container'>
	    <button mat-raised-button id='save-button'>Save</button>
	    <button mat-raised-button id='submit-button'>Submit</button>
	</div>
	
</mat-card>
